## General
SLACK=no
SLACK_HOOK=url
ONESKY_PROJECT_ID=id

## UI Tests

# Default wait time for finding elements
WAIT_TIME=4000

# Options
HEADLESS=true

# Credentials
TEST_USERNAME=username
TEST_PASSWORD=password
