#region-list {
  max-height: 350px;
  min-height: 350px;
  overflow: auto;
  margin: 0;
  display: flex;

  .loader {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
  }

  .no-regions {
    width: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-regions-title {
      font-size: 1.5em;
      margin: 0 0 30px;
    }
  }

  .list-group {
    margin-bottom: 0;
    width: 100%;
  }
}
