#authenticated-template {
  .connection {
    border-top: thin solid #F2F0F2;

    .external-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 60px;

      a:hover { color: $white; }

      .btn-icon {
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 0px 0px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: #fff;

        &:hover {
          background-color: #fff;
          background-position: 0px -30px;
        }

        &:active {
          background-color: #fff;
          background-position: 0px -30px;
        }

        &.settings-icon { background-image: url('/images/settings_2x.png'); }
        &.btn-account { background-image: url('/images/account_2x.png'); }
        &.btn-help { background-image: url('/images/help_2x.png'); }
        &.btn-logout { background-image: url('/images/logout_2x.png'); }
      }
    }
  }
}
